.vs
*.vcxproj.filters
*.vcxproj.user
x64
bin
*.VC.opendb
*.sdf
*.vsp
*.psess
*.vspx
*.org
*.obj
*.debug
*.release
lib
Debug
Release
install
install.bat
cmajor_ucd.bin
unicode.zip
Express
deployment
cmajor/unitTest
cmajor/test
packages
ucd.all.flat.xml
unicode.zip
