.vs
*.vcxproj.filters
*.vcxproj.user
x64
bin
bino
*.VC.opendb
*.sdf
*.vsp
*.psess
*.vspx
*.org
*.obj
*.debug
*.release
*.log
*.ast
lib
Debug
Release
install
install.bat
cmajor_ucd.bin
unicode.zip
Express
deployment
cmajor/unitTest
cmajor/test
packages
unicode.zip
ucd.all.flat.xml
fs
doc/compiler/reference/binder/binder.xml
doc/compiler/reference/build/build.xml
doc/compiler/reference/cmc/cmc.xml
doc/compiler/reference/cmcm/cmcm.xml
doc/compiler/reference/cmllvm/cmllvm.xml
doc/compiler/reference/cmmid/cmmid.xml
doc/compiler/reference/cmsxbe/cmsxbe.xml
doc/compiler/reference/cmsxi/cmsxi.xml
doc/compiler/reference/codegen/codegen.xml
doc/compiler/reference/codegenbase/codegenbase.xml
doc/compiler/reference/codegenllvm/codegenllvm.xml
doc/compiler/reference/codegensx/codegensx.xml
doc/compiler/reference/codegenwin/codegenwin.xml
doc/compiler/reference/common/common.xml
doc/compiler/reference/eh/eh.xml
doc/compiler/reference/ir/ir.xml
doc/compiler/reference/rt/rt.xml
doc/compiler/reference/sngcm/ast/ast.xml
doc/compiler/reference/sngcm/cmlexer/cmlexer.xml
doc/compiler/reference/sngcm/cmparser/cmparser.xml
doc/compiler/reference/sngxml/xml/xml.xml
doc/compiler/reference/sngxml/dom/dom.xml
doc/compiler/reference/sngxml/xpath/xpath.xml
doc/compiler/reference/soulng/lexer/lexer.xml
doc/compiler/reference/soulng/parser/parser.xml
doc/compiler/reference/soulng/util/util.xml
doc/compiler/reference/sxcmc/sxcmc.xml
doc/compiler/reference/symbols/symbols.xml
