.vs
*.vcxproj.filters
*.vcxproj.user
x64
bin
bino
bind
*.VC.opendb
*.sdf
*.vsp
*.psess
*.vspx
*.org
*.obj
*.o
!Main.o
*.exe
*.aps
*.a
*.dll
*.debug
*.release
*.log
*.ast
lib
trace
repository
Debug
Release
install
cmcode.config.xml
cmcode.log.flag
cmcode.trace.flag
dark-theme.xml
light-theme.xml
themes.xml
cmajor_ucd.bin
cmajor_ucd.deflate.bin
cmajor.bin
cmajor.package.bin
cmajor.package.index.xml
unicode.zip
Express
deployment
cmajor/test
packages
unicode.zip
ucd.all.flat.xml
root.fs
cmajor/doc/compiler/reference/binder/binder.xml
cmajor/doc/compiler/reference/build/build.xml
cmajor/doc/compiler/reference/cmc/cmc.xml
cmajor/doc/compiler/reference/cmcm/cmcm.xml
cmajor/doc/compiler/reference/cmllvm/cmllvm.xml
cmajor/doc/compiler/reference/cmmid/cmmid.xml
cmajor/doc/compiler/reference/cmsxbe/cmsxbe.xml
cmajor/doc/compiler/reference/cmsxi/cmsxi.xml
cmajor/doc/compiler/reference/codegen/codegen.xml
cmajor/doc/compiler/reference/codegenbase/codegenbase.xml
cmajor/doc/compiler/reference/codegenllvm/codegenllvm.xml
cmajor/doc/compiler/reference/codegensx/codegensx.xml
cmajor/doc/compiler/reference/codegenwin/codegenwin.xml
cmajor/doc/compiler/reference/common/common.xml
cmajor/doc/compiler/reference/eh/eh.xml
cmajor/doc/compiler/reference/ir/ir.xml
cmajor/doc/compiler/reference/rt/rt.xml
cmajor/doc/compiler/reference/sngcm/ast/ast.xml
cmajor/doc/compiler/reference/sngcm/cmlexer/cmlexer.xml
cmajor/doc/compiler/reference/sngcm/cmparser/cmparser.xml
cmajor/doc/compiler/reference/sngxml/xml/xml.xml
cmajor/doc/compiler/reference/sngxml/dom/dom.xml
cmajor/doc/compiler/reference/sngxml/xpath/xpath.xml
cmajor/doc/compiler/reference/soulng/lexer/lexer.xml
cmajor/doc/compiler/reference/soulng/parser/parser.xml
cmajor/doc/compiler/reference/soulng/util/util.xml
cmajor/doc/compiler/reference/sxcmc/sxcmc.xml
cmajor/doc/compiler/reference/symbols/symbols.xml
