.diagram
{
    text-align: center;
}
.tree
{
    margin: 20px;
}
.indent
{
    margin: 20px;
    max-width: 800px;
}
.description
{
    margin: 20px;
    max-width: 800px;
}
h1, h2, h3, h4, h5, h6
{
    color: #005ab4;
    font-family: sans-serif;
}
table
{
    font-family: sans-serif;
    border-collapse: collapse;
}
table, th, td
{
    text-align: left;
    border: 1px solid #dddddd;
    margin: 20px;
    padding: 8px;
}
td.rightAlignedCol
{
    text-align: right;
    border: 1px solid #dddddd;
    padding: 8px;
}
table.grammar
{
    background-color: FloralWhite;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}
table.grammar, td.grammarThirdCol
{
    vertical-align: top;
    text-align: left;
    padding: 8px;
}
td.grammarFirstCol
{
    vertical-align: top;
    text-align: right;
    padding: 8px;
}
td.grammarSecondCol
{
    vertical-align: top;
    text-align: left;
    font-family: serif;
    padding: 8px;
}
.rule
{
    font-family: serif;
    font-style: italic;
}
.ruleChar
{
    font-family: Consolas;
    color: #a31515;
    font-weight: bold
}
.ruleString
{
    font-family: Consolas;
    color: #a31515;
    font-weight: bold
}
.ruleCharSet
{
    font-family: Consolas;
    color: #a31515;
    font-weight: bold
}
.ruleKeyword
{
    color: #0000cc;
    font-weight: bold;
}
.ruleParams
{
    color: black;
}
.ruleOp
{
    padding-left: 0pt;
    padding-right: 0pt;
    font-family: serif;
    color: black;
}
.ruleLink
{
    font-family: serif;
    font-style: italic;
}
.lexerRule
{
    font-family: serif;
    font-style: italic;
}
.code
{
    font-family: Consolas;
    font-size: small;
}
.lineNumber
{
    color: #2b91af;
}
.type
{
    color: #2b91af;
}
.pp
{
    color: #808080;
}
.keyword
{
    color: #0000ff;
}
.string
{
    color: #e21f1f;
}
.char
{
    color: #e21f1f;
}
.comment
{
    color: green;
}
.identifier
{
    color: black;
}
.number
{
    color: black;
}
.other
{
    color: black;
}
