horizontal.splitter.light.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/horizontal.splitter.light.wing.cur"
horizontal.splitter.dark.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/horizontal.splitter.dark.wing.cur"
vertical.splitter.light.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/vertical.splitter.light.wing.cur"
vertical.splitter.dark.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/vertical.splitter.dark.wing.cur"
arrow.wing.bitmap BITMAP "C:/work/cmajorm/cmajor/wing/res/arrow.wing.bmp"
cmcode.icon ICON "C:/work/cmajorm/cmajor/cmcode/res/cmcode.ico"
cmcode.small.icon ICON "C:/work/cmajorm/cmajor/cmcode/res/cmcodesmall.ico"
cmcode.save.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/save.light.bmp"
cmcode.save.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/save.dark.bmp"
cmcode.save.all.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/save.all.light.bmp"
cmcode.save.all.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/save.all.dark.bmp"
cmcode.build.solution.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/build.solution.light.bmp"
cmcode.build.solution.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/build.solution.dark.bmp"
cmcode.build.project.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/build.project.light.bmp"
cmcode.build.project.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/build.project.dark.bmp"
cmcode.cancel.build.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cancel.build.light.bmp"
cmcode.cancel.build.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cancel.build.dark.bmp"
cmcode.debug.start.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/start.light.bmp"
cmcode.debug.start.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/start.dark.bmp"
cmcode.debug.stop.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/stop.light.bmp"
cmcode.debug.stop.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/stop.dark.bmp"
cmcode.debug.show.next.statement.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/show.next.statement.light.bmp"
cmcode.debug.show.next.statement.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/show.next.statement.dark.bmp"
cmcode.debug.step.over.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.over.light.bmp"
cmcode.debug.step.over.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.over.dark.bmp"
cmcode.debug.step.into.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.into.light.bmp"
cmcode.debug.step.into.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.into.dark.bmp"
cmcode.debug.step.out.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.out.light.bmp"
cmcode.debug.step.out.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.out.dark.bmp"
console.app.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/console.app.bmp"
win.gui.app.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/win.gui.app.bmp"
lib.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/lib.bmp"
win.lib.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/win.lib.bmp"
cmcode.prev.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/prev.light.bmp"
cmcode.prev.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/prev.dark.bmp"
cmcode.next.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/next.light.bmp"
cmcode.next.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/next.dark.bmp"
cm.views.arrow.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/arrow.bmp"
file.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/file.light.bmp"
file.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/file.dark.bmp"
xml_file.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/xml_file.light.bmp"
xml_file.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/xml_file.dark.bmp"
cmproject.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cmproject.light.bmp"
cmproject.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cmproject.dark.bmp"
cmsolution.light.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cmsolution.light.bmp"
cmsolution.dark.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cmsolution.dark.bmp"
