horizontal.splitter.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/horizontal.splitter.wing.cur"
vertical.splitter.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/vertical.splitter.wing.cur"
arrow.wing.bitmap BITMAP "C:/work/cmajorm/cmajor/wing/res/arrow.wing.bmp"
cmcode.icon ICON "C:/work/cmajorm/cmajor/cmcode/res/cmcode.ico"
cmcode.small.icon ICON "C:/work/cmajorm/cmajor/cmcode/res/cmcodesmall.ico"
cmcode.save.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/save.bmp"
cmcode.save.all.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/save.all.bmp"
cmcode.build.solution.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/build.solution.bmp"
cmcode.build.project.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/build.project.bmp"
cmcode.cancel.build.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cancel.build.bmp"
cmcode.debug.start.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/start.bmp"
cmcode.debug.stop.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/stop.bmp"
cmcode.debug.show.next.statement.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/show.next.statement.bmp"
cmcode.debug.step.over.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.over.bmp"
cmcode.debug.step.into.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.into.bmp"
cmcode.debug.step.out.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/step.out.bmp"
console.app.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/console.app.bmp"
win.gui.app.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/win.gui.app.bmp"
lib.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/lib.bmp"
win.lib.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/win.lib.bmp"
cmcode.prev.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/prev.bmp"
cmcode.next.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/next.bmp"
cm.views.arrow.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/arrow.bmp"
file.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/file.bmp"
xmlfile.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/xml_file.bmp"
cmproject.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cmproject.bmp"
cmsolution.bitmap BITMAP "C:/work/cmajorm/cmajor/cmcode/res/cmsolution.bmp"
