horizontal.splitter.light.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/horizontal.splitter.light.wing.cur"
horizontal.splitter.dark.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/horizontal.splitter.dark.wing.cur"
vertical.splitter.light.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/vertical.splitter.light.wing.cur"
vertical.splitter.dark.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/vertical.splitter.dark.wing.cur"
arrow.wing.bitmap BITMAP "C:/work/cmajorm/cmajor/wing/res/arrow.wing.bmp"
bug.icon ICON "C:/work/cmajorm/cmajor/system-x/db/res/bug.ico"
bug-16-bitmap BITMAP "C:/work/cmajorm/cmajor/system-x/db/res/bug-16.bmp"
bug-64-bitmap BITMAP "C:/work/cmajorm/cmajor/system-x/db/res/bug-64.bmp"
