h1, h2, h3,  h4, h5, h6
{
    color: #005ab4;
    font-family: sans-serif;
}

.toc
{
    font-family: sans-serif;
}

.syntax
{
	font-family: "Cascadia Mono", "Lucida Console", monospace;
}

.inst
{
	color: #0000ff
}

.type
{
	color: #2f9b5a
}

.value
{
	color: #a05636
}

.operator
{
	color: #0000ff
}

.meta
{
	color: #9a9a9a
}

.op
{
	color: black
}

.label
{
	color: #2b91af
}

table.type
{
    background-color: FloralWhite;
	color: black;
    margin: 20px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

th, td
{
	border: 1px solid #dddddd;
	padding: 8px;	
}

th
{
	background-color: #ffecc6
}

.kw
{
	font-family: "Cascadia Mono", "Lucida Console", monospace;
	color: #0000ff
}

.mono
{
	font-family: "Cascadia Mono", "Lucida Console", monospace;
	color: #0000ff
}

.rule
{
	font-family: serif;
	font-style: italic;
}


table.grammar
{
	background-color: FloralWhite;
	color: black;
    margin: 20px;
    padding: 20px;
	max-width: 800px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

td.rule, td.sep, td.rcontent
{
    vertical-align: top;
}

td.rule
{
    text-align: right
}
