horizontal.splitter.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/horizontal.splitter.wing.cur"
vertical.splitter.wing.cursor CURSOR "C:/work/cmajorm/cmajor/wing/res/vertical.splitter.wing.cur"
arrow.wing.bitmap BITMAP "C:/work/cmajorm/cmajor/wing/res/arrow.wing.bmp"
cmpmv.icon ICON "C:/work/cmajorm/cmajor/cmpmv/res/cmpmv.ico"
