<solutionSettings>
    <callStackOpen value="false"/>
    <localsViewOpen value="false"/>
    <openFiles>
        <item value="C:/work/cmajorm/cmajor/projects/tools/spring/Main.cm"/>
    </openFiles>
    <currentOpenFile value="C:/work/cmajorm/cmajor/projects/tools/spring/Main.cm"/>
    <currentCursorLine value="510"/>
    <breakpoints/>
    <expandedProjects>
        <item value="spring"/>
    </expandedProjects>
</solutionSettings>
