<solutionSettings classId="-1" className="SolutionSettings" objectId="00000000-0000-0000-0000-000000000000">
    <callStackOpen value="false"/>
    <localsViewOpen value="false"/>
    <openFiles>
        <item value="C:/work/cmajorm/cmajor/projects/tools/spring/Action.cm"/>
        <item value="C:/work/cmajorm/cmajor/projects/tools/spring/Diagram.cm"/>
        <item value="C:/work/cmajorm/cmajor/projects/tools/spring/Main.cm"/>
        <item value="C:/work/cmajorm/cmajor/projects/tools/spring/Selection.cm"/>
        <item value="C:/work/cmajorm/cmajor/system/System.Windows/Menu.cm"/>
    </openFiles>
    <currentOpenFile value="C:/work/cmajorm/cmajor/projects/tools/spring/Main.cm"/>
    <currentCursorLine value="1"/>
    <breakpoints/>
    <expandedProjects>
        <item value="spring"/>
    </expandedProjects>
</solutionSettings>
