<solutionSettings classId="-1" className="SolutionSettings" objectId="00000000-0000-0000-0000-000000000000">
    <callStackOpen value="false"/>
    <localsViewOpen value="false"/>
    <openFiles/>
    <currentOpenFile value=""/>
    <currentCursorLine value="840"/>
    <breakpoints/>
    <expandedProjects>
        <item value="spring"/>
    </expandedProjects>
</solutionSettings>
