body 
{
    max-width: 1024px;
}

h1, h2, h3, h4, h5, h6
{
    color: #005ab4;
    font-family: sans-serif;
}

span.kw
{
    font-weight: bold;
}

span.mono
{
    font-family: monospace;
}

span.var, span.param
{
    font-family: serif;
}

table.params
{
    font-family: sans-serif;
    font-size: 13px;
    border-collapse: collapse;
}

table.params, th.params, td.params
{
    text-align: left;
    border: 1px solid #dddddd;
    padding: 8px;
}
