body
{
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6
{
    color: #005ab4;
    font-family: sans-serif;
}

.code 
{
    font-family: Consolas;
    font-size: small;
}

span.kw 
{
    font-weight: bold;
}

span.rule 
{
    font-family: serif;
}

span.mono 
{
    font-family: monospace;
}

span.var, span.param 
{
    font-family: serif;
}

table.grammar 
{
    background-color: FloralWhite;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

td.rule, td.sep, td.rcontent 
{
    vertical-align: top;
}

td.rule 
{
    text-align: right
}

.rule 
{
    font-style: italic;
}

.var 
{
    font-style: italic;
}

.op 
{
    padding-left: 4pt;
    padding-right: 4pt;
}
