body
{
    max-width: 800px;
}

body.index
{
    background-image: url("../image/mount_everest.jpg");
    background-repeat: no-repeat;
    margin-left: 16px;
}

h1.index, h2.index, h3.index
{
    color: lightgray;
    margin-left: 16px;
}

a.index, li.index
{
    color: lightgray;
}

p
{
    margin-left: 16px;
}

h1, h2, h3
{
    color: #005ab4;
    font-family: sans-serif;
    margin-left: 16px;
}

h4.code
{
    margin-left: 16px;
    font-family: monospace;
}

span.code
{
    font-family: monospace;
}

table.grammar
{
    background-color: FloralWhite;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

table.type
{
    background-color: ghostwhite;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

table.opt
{
    boder-collapse: collapse;
}

table.opt, th.opt, td.opt 
{
    text-align: left;
    border: 1px solid #dddddd;
    padding: 8px;
}

th.type
{
    border-bottom: 1px solid black
}

td.type
{
    border-right: 1px solid black
}

td.bottom
{
    border-bottom: 1px solid black
}

td.bottommiddle
{
    border-right: 1px solid black;
    border-bottom: 1px solid black
}

.commands
{
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    font-family: monospace;
    font-weight: bold;
}

.options
{
    background-color: FloralWhite;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    font-family: monospace;
    font-weight: bold;
}

td.rulename , td.prodsep, td.rulecontent
{
    vertical-align: top;
}

td.rulename
{
    text-align: right
}

.rulename
{
    font-style: italic;
}

.kw
{
    font-weight: bold;
}

.terminal
{
    font-family: monospace;
}

.grammarop
{
    padding-left: 4pt;
    padding-right: 4pt;
}

.secnum
{
    padding-right: 8px;
}

.toc1
{
    position: relative;
    left: 1em;
    padding-bottom: 8px;
    font-family: sans-serif;
}

.toc2
{
    position: relative;
    left: 1em;
    font-family: sans-serif;
}

.toc3
{
    position: relative;
    left: 2em;
    font-family: sans-serif;
}

.notation
{
    max-width: 800px;
}

.note
{
    margin: 20px;
    font-style: italic;
}

.program
{
    border: none;
    background-color: ghostwhite;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

.project, .solution
{
    border: none;
    background-color: #f8f8f8;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

.projectFileKeyword
{
    color: black;
    font-weight: bold;
}
