body {
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6
{
    color: #005ab4;
    font-family: sans-serif;
}

.toc
{
    font-family: sans-serif;
}

span.kw
{
    font-weight: bold;
}

span.rule
{
    font-family: serif;
}

span.mono
{
    font-family: monospace;
}

span.var, span.param
{
    font-family: serif;
}

table
{
    font-family: sans-serif;
    border-collapse: collapse;
}

table, th, td
{
    text-align: left;
    border: 1px solid #dddddd;
    margin: 20px;
    padding: 8px;
}

table.grammar
{
    background-color: FloralWhite;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
}

td.rule, td.sep, td.rcontent
{
    vertical-align: top;
}

td.rule
{
    text-align: right
}

table.common-type, th.common-type, td.common-type
{
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 8px;
}

.rule
{
    font-style: italic;
}

.var
{
    font-style: italic;
}

.op
{
    padding-left: 4pt;
    padding-right: 4pt;
}

p.indent
{
    text-indent: 32px;
}
